body {
  text-decoration: none;
}
#Pginicio {
  position: relative;
  width: 1887px;
  height: 4000px;
  background: #fff;
  text-decoration: none;
  z-index: 1;
}
.aba {
  display: grid;
  grid-template-columns: repeat(minmax(1, 100%));
  position: fixed;
  width: 100%;
  height: 208px;
  left: 0px;
  top: 0px;
  background: #d16629;
  padding: 15px;
  margin-bottom: 60px;
  text-decoration: none;
}
.logo {
  position: absolute;
  right: 1780px;
  top: 1.5px;
  width: 400px;
  height: 400px;
}
.Logo {
  position: absolute;
  left: 325px;
  top: 5px;
  width: 300px;
  height: 300px;
}
.Nome {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 415px;
  top: -100px;
  text-decoration: none;
}
#barra {
  display: grid;
  grid-template-columns: repeat(minmax(1, 100%));
  text-align: center;
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;
  background: #9f6a35;
  text-decoration: none;
}
.menu {
  width: 100px;
  height: 0px;
  background-color: #9f6a36;
  margin: 6px 50px;
  display: block;
  position: relative;
  top: 10px;
  text-decoration: none;
}
.menu img {
  width: 30px;
  height: 30px;
}
.menu_open {
  padding: 0 0 0 2%;
  float: right;
  left: -210px;
  top: 0;
  transition: all 0.3s ease;
  height: 100%;
  width: 210px;
  position: fixed;
  left: 0px;
  margin: 0;
  background: #d16629;
  border-radius: 0;
  z-index: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu_open ul li {
  display: flex;
  list-style: none;
  margin-top: 80px;
}
li {
  display: block;
  list-style: none;
  height: auto;
  text-align: center;
  margin-left: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navmen {
  width: 100%;
  display: flex;
  position: relative;
  gap: 120px;
  left: 1120px;
  top: -7px;
}
.navmen img {
  width: 17px;
  height: 17px;
}
.navmen .bola6 a {
  width: 130px;
}

.bola4 {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 40px;
  background-color: #925835;
  border-radius: 100%;
  margin-left: 200px;
  gap: 20px;
}
.bola5 {
  width: 40px;
  height: 40px;
  background-color: #925835;
  border-radius: 100%;
}
.bola6 {
  display: absolute;
  right: -300px;
  width: 40px;
  height: 40px;
  background-color: #925835;
  border-radius: 100%;
}
input[type="text"],
select {
  width: 25%;
  height: 25px;
  border-radius: 15px 15px 15px 15px;
  position: fixed;
  left: 950px;
  top: 200px;
}
#generos {
  width: 105px;
  height: 20px;
  border-radius: 10px;
  position: fixed;
  left: 1315px;
  top: 205px;
  background: #d16629;
}
img {
  width: 20px;
  height: 20px;
}
.pesquisa {
  position: fixed;
  left: 955px;
  top: 205px;
  width: 20px;
  height: 20px;
}

.navmen a {
  width: 20px;
  display: flex;
  padding: 12px;
  gap: 19px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navmen a:hover {
  background-color: #000;
  text-decoration: none;
}

.carrosel {
  background-color: beige;
  width: 100%;
  height: 880px;
  z-index: -1;
  text-decoration: none;
}
.foto1 {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 100px;
  display: absolute;
  margin: 0px 0px;
  margin-top: 80px;
}
.foto2 {
  width: 100%;
  height: 150px;
  display: absolute;
  margin-top: -13px;
  z-index: -1;
  margin: 0px 0px;
}
.acesso {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 90px;
  text-decoration: none;
  text-align: center;
}
.itens a {
  width: 50%;
  height: 100px;
  margin-top: 90px;
  text-decoration: none;
}
.itens p {
  width: 150%;
  height: 100px;
  margin-top: 40px;
  margin-left: -20px;
  text-decoration: none;
  color: #000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.itens img {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 22px;
}

.bola1 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: linear-gradient(#f6981e, #e08626);
}
.bola2 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: linear-gradient(#f6981e, #e08626);
}
.bola3 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: linear-gradient(#f6981e, #e08626);
}
